@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(Capture.jpg) no-repeat;
	background-size: cover;
}
.sign-box{
	width: 280px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: 	white;
}
.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #00BFFF;
	margin-botttom: 50px;
	padding:13px 0
}
.textbox{
	width: 100%;
	overflow:hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #00BFFF;
}
.textbox i{
	width: 26px ;
	float:left;
	text-align: center;
}
.textbox input{
	border: none;
	outline: none;
	background:none;
	color: white;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}
.message{
	width: 80%;
	max-width: 1200px;
}
.container{
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
}

.btn{
	width: 100%;
	background: none;
	border: 2px solid #00BFFF;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer; 
	margin: 12px 0; 
}